<style>
  ul {
    padding: 1.5rem;
    background-color: rgb(249, 249, 249);
    border-radius: 0.8rem;
  }
  li {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
    background-color: white;
    border: 1px solid rgba(221, 221, 221, 0.721);
    border-radius: 0.8rem;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
  }
  li:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }

  .count {
    background-color: rgb(227, 227, 227);
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    margin-left: 0.2rem;
    color: rgb(97, 97, 97);
    font-weight: 400;
  }
  h4 {
    color: rgb(48, 48, 48);
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
  .priority {
    padding: 0.4rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    text-transform: capitalize;
  }

  .high {
    background-color: rgb(250, 189, 191);
    color: black;
  }
  .medium {
    background-color: rgb(201, 194, 239);
    color: black;
  }
  .low {
    background-color: rgb(214, 253, 191);
    color: black;
  }
</style>

<div>
  <input
    type="text"
    [value]="newTaskName()"
    (input)="newTaskName.set($any($event.target).value)"
  />
  <select (change)="newTaskPriority.set($any($event.target).value)">
    <option value="low" selected>Low Priority</option>
    <option value="medium">Medium Priority</option>
    <option value="high">High Priority</option>
  </select>
  <button (click)="addTask()">Add Task</button>
  <ul>
    <h4>
      Todo <span class="count">{{ todoCount("not-started")() }}</span>
    </h4>
    @for (task of tasks(); track $index) { @if (task.status === "not-started") {
    <li>
      <span>
        {{ task.name }}
      </span>
      <span class="priority {{ task.priority }}">
        {{ task.priority }} Priority
      </span>
    </li>
    } }
  </ul>

  <ul>
    <h4>
      In Progress <span class="count">{{ todoCount("in-progress")() }}</span>
    </h4>
    @for (task of tasks(); track $index) { @if (task.status === "in-progress") {
    <li>
      <span>
        {{ task.name }}
      </span>
      <span class="priority {{ task.priority }}">
        {{ task.priority }} Priority
      </span>
    </li>
    } }
  </ul>

  <ul>
    <h4>
      Completed <span class="count">{{ todoCount("completed")() }}</span>
    </h4>
    @for (task of tasks(); track $index) { @if (task.status === "completed") {
    <li>
      <span>
        {{ task.name }}
      </span>
      <span class="priority {{ task.priority }}">
        {{ task.priority }} Priority
      </span>
    </li>
    } }
  </ul>
</div>
